<div class="flex flex-column sm:flex-row-reverse">
  <div class="w-full profile-panel">
    <div class="img-cover">
      <img
        width="100%"
        height="100%"
        src="/assets/imgs/7309703-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
  <div class="w-full">
    <h1>Metasit Boonying (Nick)</h1>
    <span>ksjdhvksdhlvkjsnkvjsdn</span>
    <button
      pButton
      type="button"
      label="Dowload My Resume"
      icon="pi pi-download"
      iconPos="left"
    ></button>
  </div>
</div>
